.vs
nemirtingas_epic_emu*
/Debug
/Release
/x64

/dll_tester

/proto/network_proto.pb*
/extra/protobuf/protobuf-src
/extra/protobuf/win32
/extra/protobuf/win64
/extra/protobuf/x86
/extra/protobuf/x64
/extra/protobuf/macosx32
/extra/protobuf/macosx64
/extra/glew/glew-src
/extra/glew/win32
/extra/glew/win64
/extra/glew/x86
/extra/glew/x64
/extra/curl/curl-src
/extra/curl/win32
/extra/curl/win64
/extra/curl/x86
/extra/curl/x64
/win32
/win64
/x86
/x64
/macosx32
/macosx64

/NemirtingasEmuLauncher/.vs
/NemirtingasEmuLauncher/bin
/NemirtingasEmuLauncher/obj
/NemirtingasEmuLauncher/packages
/packages

/OUT
/NewEmuLauncher
/NemirUtilities